doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='theme-color' content='#000000')
    link(rel='manifest' href='%PUBLIC_URL%/manifest.json')
    link(rel='shortcut icon' href='%PUBLIC_URL%/favicon.ico')
    link(href='https://fonts.googleapis.com/icon?family=Material+Icons' rel='stylesheet')
    meta(itemprop='name' content=title)
    meta(itemprop='description' content=description)
    meta(itemprop='image' content=imageUrl)
    meta(name='description' content=description)
    meta(name='keywords' content=keywords)
    meta(name='twitter:card' content='summary_large_image')
    meta(name='twitter:title' content=title)
    meta(name='twitter:description' content=description)
    meta(name='twitter:image:src' content=imageUrl)
    meta(name='og:title' content=title)
    meta(name='og:type' content='website')
    meta(name='og:url' content=website)
    meta(name='og:description' content=description)
    meta(name='og:image' content=imageUrl)
    meta(name='og:site_name' content=title)
    meta(name='google-site-verification' content='p-8tBU8tGgf51f-esQro1uSXn0w6eNzuhH0oh77t_gA')
    title #{title}
  body
    noscript
      | You need to enable JavaScript to run this app.
    #root
